extends layout

block content
  h1 Node-Typescript Starter
  p.lead A boilerplate for Node/Ts web applications.
  hr
  .row
    .col-sm-6
      h2 What is this? 
      p This is a starter for a node-typescript api. It's based on Microsofts Node/TS starter and also Sahat's well known hackathon starter. Check the following readmes on how to best use this starter. 
      p  https://github.com/Microsoft/TypeScript-Node-Starter
      p https://github.com/sahat/hackathon-starter

    .col-sm-6
      h2 Features
      p This project is set up with ES6 and Typescript capabilities. It can be run by `npm start`, which will keep a watcher for changes to JS, Pug, SCSS files.
      p This project is also equipped with email, facebook, google, and twitter logins. For information on how to set this up, visit sahat's link below. There is also information on setting up other authentication.

  .row
    .col-sm-6
      h2 API or Server Side App
      p The previous links are more geared to set up a server side node JS project. The purpose of this project is actually to build out an API for a client to call. 
      p This project comes packaged with Cors and your client side project's URL will need to be added to the whitelist in the CORS handler in other to avoid same-origin errors. 

    .col-sm-6
      h2 Figuring it out
      p I understand at this current moment the documentation isn't the best on this. I'm planning on adding to it soon. But, you'll probabyl figure it out. You are smart. 